<!-- ======================================================== -->
<!-- = _sidebar.html - Sidebar template for the application -->
<!-- ======================================================== -->
<div id="sidebar">
    <!-- == Logo ============================================ -->
    <h1 id="logo"><a href="{{ url_for('home') }}">Row Diary</a></h1> <!-- Site Logo and Link to Home -->

    <!-- == Navigation Menu ============================================ -->
    <nav id="nav">
        <ul>
            <li class="{{ 'current' if request.path == url_for('home') else '' }}"><a href="{{ url_for('home') }}">Home</a></li> <!-- Home Page Link -->
            <li class="{{ 'current' if request.path == url_for('workouts') else '' }}"><a href="{{ url_for('workouts') }}">Workouts</a></li> <!-- Workouts List Link -->
            <li class="{{ 'current' if request.path == url_for('summary_day') else '' }}"><a href="{{ url_for('summary_day') }}">Daily Summary</a></li> <!-- Daily Summary Link -->
            <li class="{{ 'current' if request.path == url_for('summary_week') else '' }}"><a href="{{ url_for('summary_week') }}">Weekly Summary</a></li>
            <li class="{{ 'current' if request.path == url_for('summary_month') else '' }}"><a href="{{ url_for('summary_month') }}">Monthly Summary</a></li>
            <li class="{{ 'current' if request.path == url_for('summary_year') else '' }}"><a href="{{ url_for('summary_year') }}">Yearly Summary</a></li>
            <li class="{{ 'current' if request.blueprint == 'ranking' else '' }}"><a href="{{ url_for('ranking.index') }}">Ranking</a></li> <!-- Updated Ranking Link -->
            <li class="{{ 'current' if request.path == url_for('settings') else '' }}"><a href="{{ url_for('settings') }}">Settings</a></li>


        </ul>
    </nav>

    <!-- == Total Statistics Section ============================================ -->
    <section class="box text-style1">
        <div class="inner">
            <h3 style="text-align: center;">Total</h3> <!-- Section Title -->
            <table class="sidebar-total-stats">
                <tbody>
                    <tr>
                        <td class="label">Rowed:</td> <!-- Total Distance Rowed Label -->
                        <td class="value">{{ '{:,.0f}'.format(sidebar_stats.overall_totals.meters) }} m</td> <!-- Total Distance Value -->
                    </tr>
                    <tr>
                        <td class="label">Duration:</td> <!-- Total Duration Label -->
                        <td class="value">
                            {{ sidebar_stats.overall_totals.seconds | format_seconds_to_hms }} <!-- Total Duration Value (Formatted) -->
                        </td>
                    </tr>
                    <tr>
                        <td class="label">Split:</td> <!-- Average Split Label -->
                        <td class="value">
                            {{ sidebar_stats.overall_totals.split | format_split_short }} <!-- Average Split Value (Formatted) -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <!-- == Copyright and Version Information ============================================ -->
    <ul id="copyright">
        <li><a href="https://github.com/pinionless/RowErg-Diary">RowErg Diary</a></li> <!-- Project Link -->
        <li>ver. {{ app_version }}</li> <!-- Application Version -->
    </ul>
</div>